<meta charset="utf-8" />

<title>AP Euro Notes</title>
<meta name="author" content="Nathan Pham" />
<meta name="description" content="Fake AP European History Notes" />
<meta name="keywords" content="web, app" />

<meta property="og:author" content="Nathan Pham" />
<meta property="og:title" content="AP Euro Notes" />
<meta property="og:description" content="Fake AP European History Notes" />

<meta property="og:image" content="icons/apple-touch-icon.png" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link href="/icons/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
<link href="/icons/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32" />
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

<meta name="theme-color" content="#000000" />
<link rel="manifest" href="manifest.json" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="true" />

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />